[2017-08-30 14:52] te-online opened #1 "Wrong editor action on file creation"
When creating a .url file the texteditor opens instead of the .url editor.

[2017-08-30 14:53] te-online opened #2 "Script should only be loaded in filelist views"
Problems occur when the script is loaded in different views and OCA variable is no defined.

[2017-09-21 08:38] te-online commented on #1
Fixed in #32b4b3d66ed63ea11b24a789b79396653bd56f34

[2017-09-21 08:38] #1 closed

[2017-09-21 10:10] te-online opened #3 "Add proper icon"

[2018-01-23 10:08] te-online commented on #2
Should be working now.

[2018-01-23 10:08] #2 closed

[2018-02-10 13:48] hasinasi opened #4 "Link Editor breaks Gallery"
As soon as I enable Link Editor 1.0.3 in nc 13 gallery mode gets severely broken. Clicking on the icon showing the 4 tiles (to switch into thumbnail mode), nothing happens; the screen below the button just stays white. Similarly, the icon/button designed to be bringing you back into "normal" mode (smaller icons  on the left with file information) just does nothing. The only way to get back is to c

[2018-02-10 16:27] SimJoSt commented on #4
I observed the same exact behavior. It's a pity, as I would like to use this app, but the overwhelming amount of our users will prefer the gallery app :'(

[2018-02-19 21:53] DJCrashdummy opened #6 "incorrect newline/EOL in URL-files"
this is not really a big issue and i have no idea if it can be changed (easily)... but i noticed it, and maybe it is worth mentioning it:
the URL-files created with this awesome app have only a `LF` (unix-style) at the end of a line, while "original" URL-files created within windows have a `CR` and `LF` (windows-style).

if it is not clear what i am talking about, [this](https://en.wikipedia.org/w

[2018-02-19 22:10] DJCrashdummy commented on #3
_just my 2 cents:_
at least for now the globe used as file-icon is quite ok... it just needs to be added as app-icon.

[2018-02-20 14:33] te-online opened #7 "Add button for jumping to edit in show view"
Add a button that sends me from the “show view” to the “edit view”, because the edit button is hidden in the context menu.

[2018-02-20 14:33] te-online commented on #6
Thanks! I'll look into this.

[2018-02-20 14:35] te-online commented on #4
Thanks for your reports! I'll fix this in the next version. I knew there was some kind of collision I hadn't fixed yet and this is the exact spot.

[2018-02-25 17:38] danielepercivaldi opened #8 "When you enable the app you cannot edit "additional settings" anymore."
NC 13.0.0
Ubuntu 16.04 LTS 64 bit
PHP7.0
MySQL 14.14
When you enable the app Link Editor "additional settings" section stops working (cannot change settings or save or send email test, etc.)

[2018-03-07 20:05] te-online commented on #8
Thanks for reporting. Will look into that!

[2018-03-07 20:58] te-online opened #9 "Double display of files in list sometimes"
This issues is hard to reproduce, because it seems to only happen sometimes and under different circumstances. Will open this issue to investigate further at a later point.

![bildschirmfoto 2018-03-07 um 21 56 56](https://user-images.githubusercontent.com/4127167/37117813-94ba9986-2252-11e8-9b85-0fde7ce536af.png)

[2018-03-07 21:52] te-online commented on #8
I could resolve an issue where the JavaScript would get loaded in wrong places and cause fatal JavaScript errors, resulting in side-effects on other scripts. Can you see if the problem still persists with version 1.0.4, as soon as the appstore offers it to you?

[2018-03-07 21:52] #8 closed

[2018-03-07 21:52] te-online commented on #4
I could resolve an issue where the JavaScript would get loaded in wrong places and cause fatal JavaScript errors, resulting in side-effects on other scripts. Can you see if the problem still persists with version 1.0.4, as soon as the appstore offers it to you?

[2018-03-07 21:52] #4 closed

[2018-03-07 21:53] te-online commented on #6
I added a fix in 1.0.4 and I think it should fix the wrong line endings. Please let me know if the behavior changed as expected.

[2018-03-07 22:04] hasinasi commented on #4
I just tested it, and as far as I can tell, the issue is fixed now! Thanks so much for looking into this and for fixing it!

[2018-03-07 22:47] SimJoSt commented on #4
Same here. Everything works as expected.
Was surprised for a second, that I cannot edit on a left click, but have to go through the menu of the file.

[2018-03-08 00:45] hasinasi opened #10 "Open links in same window (rather than new tab)"
I find these links quite useful even to jump to different folders within the cloud. For that it would be useful to have some kind of option that would for all links to be opened in the same page (rather than opening a new window/tab for every link).

[2018-03-08 00:49] hasinasi opened #11 "Open links without confirmation"
I find these links quite useful even to jump to different folders within the cloud. For that it would be useful to have some kind of option that links would be opened without the confirmation dialog. Perhaps for links within the cloud? Or for links to a certain domain (or certain domains)? Or for all links?

[2018-03-08 00:50] hasinasi opened #12 "(Duplicate entry)"

[2018-03-08 00:51] #12 closed

[2018-03-08 07:44] danielepercivaldi commented on #8
Hi.
Now it's ok.

Thanks.

[2018-03-08 08:57] te-online commented on #10
Thanks for your input. I'll look into adding this as a checkbox to the edit dialogue and saving it as meta within the file. I don't know if there is a standard-compliant way, yet.

[2018-03-08 08:58] te-online commented on #4
@SimJoSt Yes, this is a known UX-problem. I'll try to fix this in the next release. See #7.

[2018-03-08 09:17] te-online commented on #11
This is what I wanted from the start, but limitations popped up during development.

Unfortunately, it is not trivial from a technical point of view. The app reads the URL from the file to make sure links can also be synced via the Desktop client and to have a persistent and standard-conform way to save and retrieve the links.

Currently, this requires an AJAX request to be fired to read the file

[2018-03-26 14:25] DJCrashdummy commented on #6
@te-online yes, the newline-style looks good now.
but (no idea if this may be somewhere an issue - just want to mention it) after the link there is a `CR` `LF` resp. an empty new line missing, compared to original windows-links.

[2018-03-26 19:12] te-online commented on #6
I can add a newline after the link, no problem ;-)
No idea if there is an RFC or something about that format...

[2018-03-26 19:38] DJCrashdummy commented on #6
i'm pretty sure there is no RFC about "this (windows-)format"...!

but who knows... maybe someday after implementing some "cool new feature" by microsoft, the missing line will make this links incompatible. or maybe it is useful for regex...

[2018-05-14 10:20] fimholz opened #13 "undesired conversion of % character"
Link Editor 1.0.4

If i paste a link, e.g. to a public Google Calendar, the "%" character seems to be converted to hex format.

What I want:
`...7pe0o300%40group.calendar.com/public/basic.ics` (note: %40)

What I get, reading the Link from Nextcloud:
`...7pe0o300%252540group.calendar.com/public/basic.ics` (note: %252540)

What I get, reading the Link directly from the file:
`...7pe0o300%2540group.

[2018-05-14 17:19] te-online commented on #13
Thanks for the report, I'll look into this as soon as I can.

[2018-05-31 06:55] #6 closed

[2018-05-31 06:56] te-online commented on #13
Should be fixed in the latest release 1.0.5.
Can you test again?

(I also took first steps to add js-tests to avoid such things in the future...)

[2018-05-31 06:56] #13 closed

[2018-05-31 06:56] te-online commented on #9
Haven't seen that again in a while, maybe some kind of js view hick-up.

[2018-05-31 06:56] #9 closed

[2018-06-01 07:04] fimholz commented on #13
It seems to work, thank you! :+1:

[2018-06-04 16:23] DJCrashdummy commented on #6
looks good now, @te-online. :+1: thank you!

it's only a pity that old links doesn't get converted... don't get me wrong, i'm NOT talking about scanning & converting all old links in general! but sadly if i modify a old link created by this app, they stay in the old format without a `CR` `LF` at the end. - thankfully other links (not created with this app and therefor already with a `CR` `LF`) are

[2018-06-04 16:28] te-online commented on #6
Thanks for testing! :-) Yeah, I thought about this, but dropped the thought, because I didn't want to mess with the stuff other applications might be doing to the end of the line and end of the file. Since I couldn't find a real standard for this document, I'm not sure how to implement it :-/

[2018-06-04 17:18] DJCrashdummy commented on #6
no big deal! thank you, for writing this FOSS-app!

yes, these are also my thoughts... since there is no specification and no guarantee or even idea how some URL-files may look, it is better to not mess around with them. - at least in this case _"don't fix a running system"_. :wink:

PS: i know it's off-topic, but a license-file somewhere (via github) beside the hint in the info.xml wouldn't hurt

[2018-06-06 18:11] DJCrashdummy commented on #6
i wouldn't know anything to complain about! :wink:

[2018-08-09 06:50] juliushaertl opened #15 "Compatibility with Nextcloud 14"
Hi @te-online,

as you may have already seen, we have entered the beta phase for the release of Nextcloud 14. We try to keep up compatibility with older apps, but in some cases apps need some adjustments to properly work on new Nextcloud releases. With Nextcloud 14 there have been quite some changes in that regard:

You can find a list of all critical changes for app developers and admins at https

[2018-08-16 21:46] te-online commented on #15
Hi @juliushaertl
Thanks a lot for your hint. :-) I'll prepare the app for 14 as soon as I get to it!

[2018-08-16 21:47] te-online commented on #15
If anyone wants to check the compatibility and report any issues that would be highly appreciated as well, of course.

[2018-08-25 21:40] marcelklehr opened #16 "Browser sync"
Hey @te-online,

This is promising stuff! I've working on the bookmarks app thus far, but my main concern has been to sync browser data. Thus I've created https://github.com/marcelklehr/floccus

As floccus supports pluggable backends, it might be cool, to support your app as a synchronization backend as well. Just thinking out loud, as we've had people complain about missing folders in the bookmar

[2018-08-26 09:13] te-online opened #17 "Improve keyboard navigation"

[2018-08-26 13:27] te-online commented on #16
Hey @marcelklehr! Thanks for sharing floccus and your idea for the link editor app.
Could you tell me a bit more about what file types floccus saves your bookmarks in? Is it a format that's readable by the link editor?

[2018-08-31 07:43] te-online opened #18 "Display glitch with sidebar/details view, when creating a new link file"
The sidebar shows when creating a new file and seems to be above the modal and steal focus...

![bildschirmfoto 2018-12-10 um 22 31 43](https://user-images.githubusercontent.com/4127167/49762896-6c47b700-fccb-11e8-8aba-ab7cbeec5b61.png)

[2018-09-02 16:55] marcelklehr commented on #16
Currently, floccus stores links in an XBEL file. But it's possible to add custom backend adapters that store the bookmarks in a different way, so the burden is currently on the side of floccus to implement the system your app is able to read. How does that work?

[2018-09-04 21:58] ljalg opened #19 "Open link when sharing"
Thank you for developing this plugin.  One enhancement request I have is; when I share a URL link the person viewing the link can only download the file, they do not have the option to follow the link.

It may seem odd to submit this type of request as we are providing a link to a link, but we are hoping to use NextCloud for security checking to ensure the viewer has the proper permissions to acce

[2018-09-05 14:59] te-online commented on #19
Hi Louis,

sharing links should works as you expect, maybe something's broken. I'll have a look and be back with an answer :-)

Thomas

[2018-09-07 18:36] te-online commented on #19
Okay, now I see what you're referring to. When you share a single file which happens to be a link file it will only give you the option to download that file, opposed to when you share link files within a folder, where they can opened as always. Let me look into adding a different button to allow following the link.

[2018-09-07 19:03] ljalg commented on #19
Thanks, I look forward to your next update.

Louis

[2018-09-07 19:09] te-online commented on #16
That looks like a nice format. Is there – by any chance – a JavaScript parser for that format? If so, I could easily incorporate it into the files that can be viewed and edited by the linkeditor app. (However, it would probably only be possible to edit the URL itself.)

Oh, I just saw, you can save multiple bookmarks within one file... That makes it a bit more complicated 🤔

The linkeditor app can

[2018-12-10 12:23] violoncelloch opened #21 "Nextcloud 15 compatibility"
Nextcloud 15 has been released today. It would be nice if you could update this app to work on Nextcloud 15! Thank you!

[2018-12-10 18:56] te-online commented on #21
Yes, that is definitively on the roadmap for this week, sorry for the inconvenience!

[2018-12-10 18:59] violoncelloch commented on #21
great to hear, thank you!

[2018-12-10 21:39] te-online commented on #18
Update: From what I can see, this can only be fixed by an update in core. We need to change this line:
We need to change this line https://github.com/nextcloud/server/blob/master/apps/files/js/filelist.js#L2655 to accept options, passed to the `createFile` method to disabled the `scrollTo` behavior. Or the behavior should be changed to not open the `detailsView`.

[2018-12-10 21:58] te-online commented on #18
See https://github.com/nextcloud/server/pull/12990

[2018-12-11 18:41] #19 closed

[2018-12-11 19:10] te-online commented on #21
Should be fixed by v1.0.8. Can you please test it, once it gets available for your nextcloud instance? 😊

[2018-12-11 19:10] #21 closed

[2018-12-11 19:11] te-online commented on #19
Should be fixed by v1.0.8. Could you try again? 😊

[2018-12-11 19:35] ljalg commented on #19
Great, thanks for being so responsive.  We will update our dev instance and I'll try it out.  I'll let you know how it turns out.

[2018-12-11 19:49] ljalg commented on #19
Great, it works as I asked, but of course there are things I didn't think about (I don't mean to sound ungrateful):
Right now it's a 2 step process, hit the "view link" button and then again the "visit link" button, could that be modified to be a single click process with the verbiage "visit link"?  If it's a security issue to ensure the user understands they are navigating to a separate web site,

[2018-12-11 19:53] te-online commented on #19
Hi Louis,

Sure, no worries – what you're describing is already in the process of being built 😉
See https://github.com/te-online/files_linkeditor/issues/11 for some background.

I expect that we'll have the option of directly opening links without confirmation within the next weeks.

– Thomas

[2018-12-11 20:39] ljalg commented on #19
Great, thanks.

Louis

[2018-12-18 18:53] reiner-text commented on #19
I had to hide the "View link" button via CSS because it also was seen on a sharing page of a single audio file. Must this be that way or have I made something wrong?

[2018-12-18 21:39] te-online commented on #19
This might be a bug - thanks for sending it in, I'll look into it as soon as possible!

On Dec 18, 2018 19:53, Reiner Text <notifications@github.com> wrote:

I had to hide the "View link" button via CSS because it also was seen on a sharing page of a single audio file. Must this be that way or have I made something wrong?

-
You are receiving this because you modified the open/close state.
Reply t

[2018-12-19 13:26] te-online opened #22 "View Link Button shown for single publicly shared files regardless of file type"
This is a bug introduced in the latest version.
We need to add a check so that we only add the button for link files.

[2018-12-19 22:40] #22 closed

[2018-12-20 12:03] te-online commented on #19
@reiner-text New release with a fix is out and should be available in your nextcloud soon.

[2018-12-20 13:04] reiner-text commented on #19
@te-online Thanks for fixing this so quickly! I can confirm that it works and shared link files (``.url`` in my case) are visible correctly.

[2019-02-02 16:48] #18 closed

[2019-02-02 16:49] te-online commented on #18
Temporarily fixed.

[2019-07-24 06:16] rasos opened #24 "List this app also in category Files"
Thank you for this useful App. I suggest you publish it also in the `Files` category of the app store https://github.com/nextcloud/server/issues/16520#issuecomment-514495091 .

[2019-07-24 07:01] rasos opened #25 "Describe how to open .url files on Linux desktop"
What is the best strategy to open a .url file in Thunar or Nautilus?

[This proposal](https://saidulhassan.com/open-url-files-in-linux-mint-ubuntu-1029) as a custom script for url file types does not really work properly, firefox loops downloading the file:

 `bash -c “cat %f | grep URL | cut -d’=’ -f2 | xargs firefox &”`

[2019-07-27 14:16] te-online commented on #24
Thanks for your suggestion, that is a very good idea. Could you prepare a pull request, adjusting the categories in `appinfo/info.xml`? 😉

[2019-07-27 14:23] te-online commented on #25
Thanks for your thoughts on opening link files on Linux. I don't think it's this app's responsibility to explain how to use a specific feature of a Linux Desktop. As far as I know, on some distribuitions you can use custom shortcuts on your Desktop, but I don't know of any that allow you to open .URL or .webloc files. For commandline use, your script doesn't look that bad. It should open the URL t

[2019-07-27 14:23] #25 closed

[2019-08-31 14:07] te-online commented on #24
Looks like this category is already applied :-)

[2019-08-31 14:07] #24 closed

[2019-09-30 08:49] herrmannsdorfer opened #27 "NC17 compatibility"
Link Editor 1.0.10 does not seem NC 17 ready. The NC updater is missing an update. I am running NC 16.0.5:

![Bildschirmfoto 2019-09-30 um 10 44 18](https://user-images.githubusercontent.com/43957716/65863118-d5d6a600-e36f-11e9-9b68-3efe12345bee.png)

[2019-10-10 19:12] te-online commented on #27
@herrmannsdorfer Thanks for reporting!
I just checked compatibility with version 17 and released v1.0.11. Can you test if this version shows up as compatible?

[2019-10-10 19:12] #27 closed

[2019-10-10 21:39] schniepp commented on #27
It works here! Thank you so much!

[2019-11-09 21:31] Shen commented on #3
Currently there is shown a gearwheel if I add a link. Is it possible to change this to a globe- or link-symbol?

[2019-11-10 18:28] te-online commented on #3
In the appstore, you mean? Yeah, it could be nice to have an SVG globe there. Would you mind looking for the icon in github.com/nextcloud/server and then create a PR to add the icon so the appstore can read it? (For inspiration I'd look at how other apps do it). 😊

[2019-11-10 20:07] Shen commented on #3
No, if I create a new Link in Files-App.
![8851A25F-91E9-456D-A455-BDC006191483](https://user-images.githubusercontent.com/81589/68549917-19f0a800-03fe-11ea-8b8d-9a5a2f291323.jpeg)

[2019-11-11 20:26] te-online commented on #3
@Shen Is this screenshot taken from the web interface of Nextcloud? I can't reproduce the wrong icon in version 16 or 17 🤔 For me it shows the globe.
![Bildschirmfoto 2019-11-11 um 21 26 27](https://user-images.githubusercontent.com/4127167/68618582-f1ce7b00-04c9-11ea-84fb-fb22f5f1de9d.png)

[2019-12-06 15:38] Shen commented on #3
Yes, it is from the web interface of Nextcloud (16.0.5.1). Strange...

[2020-01-07 21:26] te-online commented on #3
Sorry that I can't say what's wrong...

Maybe you can right-click the icon and click “Inspect element“, then paste a screenshot of that HTML node here?

I'm guessing that maybe another app is interfering or something like that?

[2020-01-09 20:11] Shen commented on #3
Something like this?
![linkeditor-icon-bug](https://user-images.githubusercontent.com/81589/72101281-a4815500-3324-11ea-9304-1e7c99a2ed75.png)

[2020-02-04 15:41] te-online commented on #3
I have a suspicion that this has to do with the “Theming” app. Let me look into this once I get a bit of time... Sorry for the delay!

[2020-02-13 19:19] te-online commented on #3
@Shen Can you check if you even have the correct file under `/index.php/apps/theming/img/core/filetypes/link.svg`?

[2020-04-21 16:15] manu-p opened #30 "Can't install/download this app"
Hi, no way to download/install this app:

[2020-04-21 16:23] alemorbel commented on #30
Github is partially down right now, wait untill the problems have been fixed, you can check the progress at [githubstatus.com](https://www.githubstatus.com/)

[2020-04-21 18:05] ostasevych opened #31 "Incorrect link processing"
Not working properly.

1. I create a link to https://google.ua
![image](https://user-images.githubusercontent.com/5199030/79898251-a1adfa00-8413-11ea-8172-07af50cec5ea.png)

2. When trying to open I obtain error.
![image](https://user-images.githubusercontent.com/5199030/79898315-bee2c880-8413-11ea-9fc8-55007dbbf541.png)

NC 19 beta2

[2020-04-21 20:48] te-online commented on #30
Seems to work again.

[2020-04-21 20:48] #30 closed

[2020-04-22 07:36] manu-p commented on #30
Yep, fine! thanks

[2020-04-24 22:27] te-online commented on #31
Hi @ostasevych

Thanks for reporting. I just checked-out Nextcloud 19 beta 2 locally and was able to create the link file you describe just fine. Can you try clicking the 3-dot menu of the link file, click edit and try saving the correct link once again? Let me know if it works.

[2020-05-05 20:34] ostasevych commented on #31
Hi again! Me too, I checked again and it is not working :( NC 19.0.7 Steps:
1. Create a link https://ukr.net
2. Test it by clicking Visit link - it opens correctly
3. Save
4. Click on it and observe that the link is not shown in full - it's end is cut, that's why it points to wrong URL.
![image](https://user-images.githubusercontent.com/5199030/81113487-fc257b00-8f28-11ea-982b-17bf9d801131.png)

[2020-05-06 15:27] te-online commented on #31
Hi @ostasevych, Sorry you're still having this issue. Let me try to reproduce with your detailed steps and I'll post my findings here.

[2020-05-06 17:09] te-online commented on #31
I'm a bit confused, because I really can't reproduce this problem on my local testinstance.
See screencast here: https://te-cloud.de/index.php/s/KFjEQt7inDWoQJG

Can you share more screenshots or a screencast of how you create the link and if you browser console shows any errors?

Did you have the same problem on the latests stable version of nextcloud or is this something that started occurring o

[2020-05-06 21:34] ostasevych commented on #31
Hi Thomas!

That's strange. Here is my screencast https://drive.google.com/file/d/116TghTPKY7HTomRtFNB634T08X0HV78g/view?usp=sharing

I use NC 19.0.7 beta.

[2020-05-07 11:39] te-online commented on #31
I don't seem to have access to the shared file, could you check the permissions? :-)

[2020-05-13 21:32] te-online opened #32 "Add ability to create webloc files from filelist"

[2020-05-20 11:42] szaimen opened #33 "Please make the app compatible with NC19"
Hi,

it seems like the app wasn't updated for NC19.
Please make it compatible.

Thanks!

[2020-05-20 20:17] #33 closed

[2020-05-20 20:59] te-online commented on #33
I have simply bumped the max compatible version. Can you try with v1.0.14

[2020-05-21 09:21] szaimen commented on #33
Seems to work without a problem.
Thanks!

[2020-05-29 14:43] TomGem opened #34 "Should macOS .webloc files work?"
Should macOS .webloc files work in the current version? Windows .url files work fine but with any .webloc files NC just says:
`This link-file doesn't seem to be valid. – You can fix this by editing the file.`

I've attached an example, it's a zipped 'apple binary property list' file.

[te-online-files_linkeditor- A nextcloud app to edit .URL and .webloc files and visit links.zip](https://github.co

[2020-05-29 14:46] te-online commented on #34
@TomGem Thanks for your bug report. I'll look into that as soon as possible. I'm working on a new version of the app on the `next` branch, though, where I've re-written the way `.webloc` files are parsed. There are some issue to be solved, before I can make a release from it, but maybe you'd like to check it out already?

[2020-06-02 15:14] TomGem commented on #34
Thanks for the fast reply! Testing, yes, gladly. How do get the next branch?

[2020-06-04 17:20] te-online commented on #11
### General summary of the issue for readers visiting at a later point
This issue resolves around a fundamental design problem when implementing this app. This app loads and parses the linkfile on the client-side. But while a browser can be instructed to load a file (an asynchronous action), parse its contents and then open a link in a new window, this behavior is (rightfully so) interpreted as so

[2020-06-04 17:23] te-online commented on #34
You can download it from this repository (https://github.com/te-online/files_linkeditor/tree/next), but you'll need a testing Nextcloud instance, e.g. on your local machine, because I wouldn't recommend putting the app for testing into your production Nextcloud.

On this testing Nextcloud instance you replace the contents of the folder `apps/files_linkeditor` with the content of the `next` branch

[2020-06-06 20:37] #7 closed

[2020-06-06 20:37] #11 closed

[2020-06-06 20:37] #32 closed

[2020-06-06 20:37] #10 closed

[2020-06-06 20:45] te-online commented on #31
I just released a new version 1.1.0 for which I rewrote most of the client-side JS. Would you mind to check if the problem still exists? :-) Please re-open if it stills persists.

[2020-06-06 20:45] #31 closed

[2020-06-06 20:45] te-online commented on #34
I've just release version 1.1.0 with the new `.webloc` file parser. Can you check if `.webloc` files work again?

[2020-06-07 10:37] spreeni151 opened #35 "Two entries in add-menu"
The 1.1 version of Link Editor is working great, especially the 'open without confirmation' option is a big improvement.
What might be confusing for non-technical users are the two entries for new links (.url and .webloc) in the 'add menu'. Is it possible to add a switch to the options menue to give admins the choice, which version is listed there (url _and/or_ webloc)?

[2020-06-07 18:41] te-online commented on #35
Thanks for your feedback :-)
This sounds indeed like a good candidate for a configuration option. I can see how users can be confused, since no-one actually knows what .webloc or .URL means. I'll see what I can do, but in the meantime Pull Requests are always welcome!

[2020-06-08 11:02] TomGem commented on #34
You are fast, thanks!
Unfortunately linkeditor is still unable to open the macOS .webloc files.

<img width="830" alt="webloc-links" src="https://user-images.githubusercontent.com/8806191/84023334-30f17b80-a988-11ea-8978-83476fa06232.png">

[2020-06-08 17:01] te-online commented on #34
@TomGem That's a shame... Any chance you can send me one of those broken files? Or upload it here? When I create the files in macOS I can open them fine, but I'm not using the latest macOS version, so maybe that's why.

[2020-06-08 18:31] TomGem commented on #34
Of course, I've attached a few to this message:
[Webloc-Examples.zip](https://github.com/te-online/files_linkeditor/files/4747859/Webloc-Examples.zip)
May I ask, how old is your version of macOS?

Anyway, current versions of macOS write .webloc files as _Apple binary property list_:
`$ file link.webloc: Apple binary property list`

Starting with Mac OS X 10.4, this is the default format for prefer

[2020-06-08 19:36] te-online commented on #34
Oh, that's unfortunate 😢  Thanks for your thorough research!

I can reproduce this issue now. The funny thing is, that Chrome still uses the XML format, while Safari saves shortcuts in the binary format. What a mess...

I'll look into if any of the npm modules will run in the browser, then I can try parsing as XML and if that fails, I'll try to parse the file as binary format.

[2020-06-13 20:51] te-online commented on #34
The latest release, 1.1.1, addresses this issue by including a binary plist parser. – Two things to note. Firstly, this doubles the bundle size, unfortunately, so I might think about a server-side solution in the future. And, there's no writing of these binary files included. So keep in mind, if you edit a binary plist file it will be replaced by an XML-version of the file. From my experience that

[2020-06-15 07:13] TomGem commented on #34
Thank you, I just tested 1.1.1 with various .webloc files, everything works fine now. 👍😊

[2020-07-02 22:21] vfauth opened #36 "Special character are removed from the links"
Some special French characters like éèàù (probably some non-French too) are removed without warning when the link is saved.

This can be an issue with some websites.

Example  (saving then editing):
![saving](https://user-images.githubusercontent.com/32266846/86414031-1aa6b900-bcc3-11ea-9edb-a0ea6d878e91.png)
![editing](https://user-images.githubusercontent.com/32266846/86414039-1da1a980-bcc3-11ea

[2020-07-06 12:44] te-online commented on #36
@vfauth Thanks for raising attention to this bug! This might be an issue with the sanitizer the app is using to make sure links follow the proper format.

[2020-08-28 17:02] #36 closed

[2020-10-09 09:48] lazyandproud opened #39 "Create or edit link in writeable shared folder"
Create or edit a link in a writeable shared Folder is not possible, but the option is present in the context menu.
![image](https://user-images.githubusercontent.com/58183116/95569093-62a54c80-0a25-11eb-9a98-7804628b7dd8.png)

[2020-10-12 19:32] te-online commented on #39
Hey @lazyandproud Thanks for reporting. This does look like an annoying bug. I'll see if I can find some time soon to take a look at this :-)

[2020-10-27 22:14] sfornengo opened #40 "Linux .desktop files"
In linux (Kde, Gnome, Unity) the equivalent of .URL or .webloc file is .desktop file that contents an URL to open.
A link to an internet file may have an entry as simple as the following:
[code]
Here is an example:
[code]
It would be awesome if files_linkeditor could open .desktop files too.

[2020-10-30 15:01] te-online commented on #40
Sounds like a nice idea :-) You could enhance the parser and write a test for it if you'd like? :-)

[2020-12-03 19:33] te-online commented on #39
It doesn't seem very straight forward to implement editing of files in editable shares, so I disabled editing for now. Please test again in `1.1.3`.

Neither can I find an example of an app that can edit files when shared, nor any official documentation on it. If you find anything in that direction, feel free to reopen 😊 But as it stands right now, I don't know how can make it work in shared folde

[2020-12-03 19:33] #39 closed

[2021-01-05 13:52] kusmi commented on #35
Yes, I would also like to choose for my users if I want .webloc or .URL (e.g. I want my users to use .webloc)

[2021-01-24 19:24] fenvarien commented on #35
This configuration option would be very helpful. I need this app for education and my students are confused by the two options.

[2021-02-17 10:59] Antoine-Derouin commented on #35
I also need this feature.

In the meantime I've put up this dirty css fix:
`.menuitem[data-templatename^="Link.webloc"] {display: none !important;}`

[2021-02-17 11:06] spreeni151 commented on #35
@Antoine-Derouin
In which file did you add this entry?
Thanks

[2021-02-17 11:08] Antoine-Derouin commented on #35
@spreeni151
The easiest way is to use the custom css plugin :
https://apps.nextcloud.com/apps/theming_customcss

[2021-02-17 11:27] spreeni151 commented on #35
Thank you very much Antoine! This is much easier and quicker to fix than I thought. I nearly forgot the custom css addon :-)

[2021-02-19 00:06] julianfinn opened #44 "Can't open synced .url files from mobile app"
Hi, I've managed to get .url files synced to a nextcloud folder and those links work perfectly from a desktop browser. The issue I'm running into is that when users attempt to use those links from within the iphone app, iOS has no idea what to do with them. When I try to share the link to Chrome (which is the only browser that even shows up as an option in the share dialog) it errors out and says

[2021-02-20 15:02] te-online commented on #44
Hey @julianfinn Glad you were able to sync link files with Nextcloud and that you enjoy the app.

Unfortunately, I don't know of any way to tell the mobile Nextcloud app how to handle link files. 😞

That's why I need to direct you to the repository of the [iOS Nextcloud app](https://github.com/nextcloud/ios), where you might be able to open an issue asking for this feature. Maybe they will be able

[2021-02-20 15:02] #44 closed

[2021-03-10 21:35] szaimen opened #45 "NC21 support"
Hey,

Thanks for your helpful app!
Would be great if you could make it compatible with NC21.

Thanks!

[2021-03-11 16:36] te-online commented on #45
Sure, thanks for pinging 👍 Update is released

[2021-03-11 16:36] #45 closed

[2021-03-11 16:38] szaimen commented on #45
Thanks, that was fast! :)

[2021-03-19 15:31] robshnup opened #47 "In Firefox new link opens only after cache cleaning"
In FF 86, when you create a new url and want open it subsequently it fails with the message:

FF shams that nothing has been saved as URL - the link field is empty.
Only after a complete cache-cleaning everything is OK. The link was saved and can be opened.

In Chrome there is no hassle.

Greetings robw

[2021-03-19 15:40] te-online commented on #47
Does this happen to you with other apps, too? Maybe your server's caching headers are a little agressive?
I just tried in Firefox 86 on Mac but couldn't reproduce 🤔 (see video)

https://user-images.githubusercontent.com/4127167/111805936-c3d52400-88d1-11eb-968e-d60ba50345bb.mov

Any chance you can provide the exact steps that will reproduce the issue?

[2021-03-19 16:12] robshnup commented on #47
Hi,
I fail to see why server's caching headers are too agressive, because in that case there would be the probs in Chrome too.
With other apps of Nextcloud there are no probs whatsoever.

I'm here with FF86 on Debian Bullseye and Nginx 1.18, PHP7.4-fpm
Where the nextcloud nginx cache config cache proposes 6M

        try_files $uri /index.php$request_uri;
        expires 6M;         # Cache-Contro

[2021-03-19 17:58] te-online commented on #47
That was just a guess about caching headers 😉 I think your problem might be something else.
Would it be possible for you to take a screengrab of the steps? I'm afraid I can't follow 🙈 Where are you copying a link?

[2021-03-20 11:07] robshnup commented on #47
Hi,
First I open a new link and enter the link-address oder paste it from clipboard
![grafik](https://user-images.githubusercontent.com/80580927/111867417-09e2c400-8974-11eb-9e63-60c6f3f24947.png)
then i prove the link by clicking on "Link besuchen"
If everything is ok then I press "Speichern". And then I get this screen:
![grafik](https://user-images.githubusercontent.com/80580927/111867468-6a720

[2021-03-20 12:07] robshnup commented on #47
https://user-images.githubusercontent.com/80580927/111868934-351de100-897d-11eb-9932-fe61a6fe68ad.mp4

[2021-03-20 13:17] te-online commented on #47
Thanks a lot for providing those details 🙌
I think I understand the nature of your issue now. Not sure of the underlying cause, however.

It's almost as if the file is not saved correctly until you reload? This sounds like maybe some unrecoverable JavaScript error when you save the file, so subsequent reads fail because of that. When you reload the page, this JavaScript error is cleared and you ca

[2021-03-20 13:59] robshnup commented on #47
Hi Thomas,
it seems jinxed! And I think it's a timing prob.

If I use the console, it seems that saving lasts a small bit longer than without. And tadaa! - no hassles, the link opens instantly.
(There are btw. only a lot of warnings in console concerning JQuery and nothing seems relevant for my prob.

14:49:48.981 jQuery is deprecated: The global jQuery is deprecated. It will be updated to v3.x in

[2021-03-20 14:51] te-online commented on #47
That sounds very curious 🤔 It's almost like Nextcloud returns with a positive result on the file being stored when it's actually still being written or something like that. Just to clarify, which version of Nextcloud are you using and can you share anything about your setup (like is it a vserver, a server in your home, HDD vs. SSD, is it a raspberry pi)?

[2021-03-20 15:21] robshnup commented on #47
As I'v already written:
I'm here with FF86 Windows 10 Pro  on PC and on a Thinkpad i5-8250U CPU with 16GB
Server is (no PI) a 4GB RAM, Intel Atom 4-Cores with Debian Bullseye 5.10.0-4-amd64 (SMP) x86_64 and Nginx 1.18, PHP7.4-fpm
dedicated to Nextcloud. Ext4-FS on Normal 500GB HDD, GBit Ethernet

[2021-03-20 16:11] robshnup commented on #47
Another further inquiry:
I must revoke my statement, that with console a link is working instantly. From my Notebook (Wlan??) it lasts also 1 minute till it works.
At the moment of saving a link these are all the messages in console:

17:01:16.724 jQuery is deprecated: The global jQuery is deprecated. It will be updated to v3.x in Nextcloud 21. In later versions of Nextcloud it might be removed co

[2021-03-23 16:48] te-online commented on #47
Quick update: I received your info, but it still doesn't ring a bell. I will need to dig a little deeper with the information you gave me and will get back to this issue. Thanks for your patience 🙏

[2021-03-23 17:02] robshnup commented on #47
Don't mention it! I must thank you for your investigative drive ... ;-)

[2021-04-20 20:27] te-online commented on #47
@robshnup I just came back to this part of your comment:

If I look at the backend controller (this is some code adapted from `files_texteditor`), it should actually return an API error response and not save the file. https://github.com/te-online/files_linkeditor/blob/master/controller/linkhandlingcontroller.php#L162

But from the browser console logs you posted, it doesn't look like you've receiv

[2021-04-20 20:50] robshnup commented on #47
I'll investigate this tomorrow and make a report.
Thanks for your inquiry.
Greetz

[2021-04-21 05:25] robshnup commented on #47
Hi,
I've made a test link in FF and watched the network console.
If I prevent to call the cache it lasts more than 10 seconds to save the link, but it works immediately.
![Zwischenablage-1](https://user-images.githubusercontent.com/80580927/115500436-8e757a80-a271-11eb-8146-442c19407d50.jpg)

With caching I get this result
![Zwischenablage-2](https://user-images.githubusercontent.com/80580927/1155

[2021-04-25 18:22] te-online commented on #47
@robshnup There are two things that I observe that look strange to me:
- Your server seems to take very long to save a new, empty file (this app is using Nextcloud's built in functions here, so it should take as long to create, let's say, an .odt file or .txt file. Is that true?)
- Your configuration allows to load Ajax responses from cache (which is unusual in my eyes, but might be intended in tu

[2021-04-25 20:13] robshnup commented on #47
Hi Thomas, I don't understand this too.
I#ve an normal Nginx instance with the original recommended config by NC 21.
I've a fresh FF installation  with no old cache etc. instructions.
I get this behavoiur.
Today I've the NC 21.0.1 running and nothing is better.
I cannot produce more input on this issue than I have.
Greetz

[2021-04-26 17:33] te-online commented on #47
@robshnup Sorry to hear. I will leave it at that for now. If you find out more or anything I can change within the app to fix it, I'm more than happy to implement it 😊

[2021-06-29 15:18] it-1313 commented on #35
Would it be possible to add checkboxes for URL and/or webloc in the admin config for this addon after all? The Link Editor app is great, but I think webloc is quite unknown and if you don't share Nextcloud with users who use a mac, I think webloc should be hidden to prevent confusion of users. Everbody should however understand the meaning of "URL".

I know there is the custom css "hack" but this

[2021-06-29 18:47] te-online commented on #35
Hey @it-1313, thanks for posting here. Great that you are open to add this functionality 😊

This guide should give you a few pointers: https://docs.nextcloud.com/server/latest/developer_manual/digging_deeper/settings.html

Let me know if I can help on any part of the way 👍 Preferably through a Draft Pull Request 🤓

[2021-07-02 14:45] djoesch opened #54 "Does not work on iOS"
Is there a way to get it work mobile?
We try to link external Google tables.

[2021-07-02 14:45] #54 closed

[2021-07-02 18:33] te-online commented on #54
Did you get it to work? I'm asking, because you closed the issue :-)

[2021-07-09 01:00] sunjam opened #55 "NC22 Support"
Just released.  Thanks for considering!

[2021-07-11 15:09] te-online commented on #55
Feel free to test and open a PR, it's just the number in appconfig if everything works well 😊
If something breaks, we can discuss that in a new issue.

[2021-07-14 19:52] te-online commented on #55
Should be fixed

[2021-07-14 19:52] #55 closed

[2021-07-19 06:11] TheOneWithTheBraid opened #56 "Include Changelog into App Store listing"
It would be tremendously helpful to have the changelog included into the Nextcloud App Store listing. Currently, any (potentially breaking) changes must be fetched from this repository. Especially for production systems, a changelog at a glace in the app store listing might be helpful.

[2021-07-19 14:21] te-online commented on #56
@TheOneWithTheBraid Thanks for raising this. Could you point me to an example where an app is doing this and how they format the changelog? I can see how this would be helpful to decide if an update is needed or not.

[2021-12-03 21:11] te-online commented on #56
I think I got this covered now, please check out the app store listing of v1.1.7 🙌

[2021-12-03 21:11] #56 closed

[2021-12-03 22:25] acsfer opened #62 "App has invalid signature"
I have 2 instances, both on NC 22.2.3, on on both:

[code]

[code]

[2021-12-03 22:28] te-online commented on #62
Looks like I somehow managed to push a version with a broken signature to the appstore 😢 Didn't know that was possible...

[2021-12-03 22:34] te-online commented on #62
I'm going to try to create a new release

[2021-12-03 22:41] te-online commented on #62
@acsfer Would you mind checking again with 1.1.8? 🙏

[2021-12-03 23:34] acsfer commented on #62
All good 👍

[2021-12-03 23:34] #62 closed

[2022-02-28 09:20] Lurkars opened #63 "License information missing"
No license information can be found for this repository. Please add a LICENSE/COPYING file.

[2022-03-04 16:58] klorydryk opened #64 "Close pop-up after opening the link"
After opening a link, when coming back to the Nextcloud tab, the link editor pop-up is still open. It should be closing after opening the tab, as his job is done there.

[2022-03-04 17:19] te-online commented on #64
Hey @klorydryk Thanks for your feedback. On first glance, this is on purpose; “a feature” so to speak. I agree, however, that the “confirmation” modal could close automatically – maybe you're only talking about that one 🤔

[2022-03-04 17:20] te-online commented on #63
@Lurkars Thanks for mentioning it. Would you mind pointing me to a good process of selecting and adding a license? I have no experience with that, unfortunately 😿

[2022-03-04 20:19] klorydryk commented on #64
Yes, I'm talking about this “confirmation” modal that could close once the user clic on the "visit the link".

[2022-03-05 07:25] Lurkars commented on #63
Hey, as stated out here under license
https://docs.nextcloud.com/server/latest/developer_manual//app_development/info.html

In your info.xml you already stated out the AGPL license, so you can just put that licensee file to your repository. You can see an example here in official apps:
https://raw.githubusercontent.com/nextcloud/deck/master/LICENSE

[2022-03-08 18:17] te-online commented on #63
Thanks! Should be added ✅

[2022-03-08 18:17] #63 closed

[2022-03-26 10:28] danth commented on #35
As a workaround for this you can delete one of the menu entries in `Linkeditor.service.js`:

https://github.com/te-online/files_linkeditor/blob/2738fe1c08cffd486203680471a36f86250b8d70/js/lib/Linkeditor.service.js#L90-L99

And perhaps simplify the display name of the remaining entry by removing the file format:

[code]

Then rebuild `bundle.js` by using the command `npm run build`.

Modify the ver

[2022-04-22 05:57] 42ske opened #67 "Compatibilty to Nextcloud 24"
Do you already know, when we will see a version compatible to Nextcloud 24? Thanks in advance.

[2022-04-22 16:12] te-online commented on #67
Hi there 👋 Currently Nextcloud 24 is not yet available on the website, that's why I'd assume it's not finished yet. But I will prepare testing on version 24 during the upcoming weeks. You can expect an update of Linkeditor shortly after 24 is available from the Nextcloud website 😊

[2022-05-09 19:21] #67 closed

[2022-06-13 18:29] te-online opened #68 "Migrate to IBootstrap: Fix logs spammed with deprecation warnings in NC24"
[code]

[2022-06-13 18:29] te-online opened #69 "Show changelog in tab in Appstore instead of in description"
See Deck app for an example

[2022-07-05 21:17] #68 closed

[2022-07-05 21:18] #69 closed

[2022-08-30 12:29] p-bo opened #72 "Use Transifex for continuous translation please"
Hello,
would it be possible to follow instructions on:
https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#adding-translations
...and gain benefits from work of whole Nextcloud translators community for users of your app please?

Thanks :-)

[2022-08-30 17:06] te-online commented on #72
Great suggestion 👍 Since this seems to involve a couple of steps I will get back to it when I have some time to spare.

[2022-10-06 06:55] p-bo commented on #72
Don't worry, it shouldn't take you much time - just open issue on https://github.com/nextcloud/docker-ci/issues/new/choose (choose Request translations). And you will get checklist as for example this: https://github.com/nextcloud/docker-ci/issues/426 and you can ask [rakekniven](https://github.com/rakekniven) if something is unclear to you. Hope it helps :-)

[2022-10-12 09:00] Tealk opened #73 "Nextcloud 25 Support"
The tool does not seem to work under v25 anymore, neither can you create links nor edit them

![image](https://user-images.githubusercontent.com/12276250/195299073-721f2051-1925-4f7e-8bf9-fc00f0519c0a.png)

![image](https://user-images.githubusercontent.com/12276250/195299011-9127171b-402d-497a-8f88-8b3cd27a7592.png)

[2022-10-12 09:03] Tealk commented on #73
Somehow the addon was activated only after pressing enable a second time.

[2022-10-12 11:44] p-bo commented on #72
For motivation: This developer at first [was not so fond](https://github.com/powerpaul17/nc_money/issues/4#issuecomment-1260663047) of this approach, than [he agreed to try](https://github.com/powerpaul17/nc_money/issues/4#issuecomment-1268635618) and at the end, [was very pleased](https://github.com/powerpaul17/nc_money/issues/4#issuecomment-1274590428) with result! :-)

[2022-10-12 18:07] te-online commented on #72
@p-bo Thanks for your motivational message and helpful links 😊

This is definitely on my list, and I'm not at all opposed to connecting Transifex. But as we already have a working way to add translations, unfortunately this doesn't have the highest priority right now. Hope you understand and can wait a little bit longer 😿

[2022-10-12 18:09] te-online commented on #73
Hey there 👋 Thanks for reporting! Indeed NC 25 is not marked as supported in appinfo.xml yet. This is why you had to manually enable it. I will re-open this issue, so I don't forget to switch end-to-end tests to 25 and release a new version.

[2022-10-16 20:29] p-bo commented on #72
@te-online I see and understand, that there are [more urgent things](https://help.nextcloud.com/u/te-online) in development of apps itself.

So will patiently wait until there will be resources to do (one time) work on adding support for _continuous_ translation then, as it will provide following benefits (for instance):

- much more translators will get involved, because without it, they will new

[2022-10-31 15:50] JimKillock commented on #73
Quick query when we might have NC 25 support rolled out :) We have had to disable to app for now but would really like to have it back :)

[2022-10-31 18:41] te-online commented on #73
I've published a new version that is marked as compatible with NC 25. End-to-end tests have passed.

[2022-10-31 18:41] #73 closed

[2022-11-22 01:11] comradekingu commented on #72
Transifex is the opposite of continuous translation workflow.
Use Weblate and thank me later. https://hosted.weblate.org/hosting/

[2022-11-23 21:12] te-online commented on #72
Hey @p-bo, I have some more questions I'm hoping you'll be able to help me with 😊

1. What happens to existing translations that are composed as `.json` and `.js` files in this repository? Do I need to convert them to `.pot` files or something like that?
2. How do I select the `lang_map` in the config file?

[code]

[2022-11-24 10:16] p-bo commented on #72
Hey @te-online, yes of course (only limited by my abilities - as mere translator - to just point to hopefully useful resources and people connections)!

Well, without any action, they would be (but only temporary! - we, translators, are tending to be agile ;-) ) lost, but it is possible to import pre-existing translations too - as was discussed and solved in this issue:
https://github.com/nextclou

[2022-11-24 21:58] te-online commented on #72
@p-bo Thank you so much for your response – it helps a ton. I'll get this sorted soon 👍